LogFile=C:\Program Files\Zabbix Agent\zabbix_agentd.log
LogFileSize=1
Server=10.70.70.150
ServerActive=10.70.70.150
HostnameItem=system.hostname[host]
HostMetadataItem=system.uname
Include=C:\Program Files\Zabbix Agent\zabbix_agentd.d.conf.d\
